## OOPS(object oriented programming structure)

###### Example--1

In [2]:
class staff:
    hod='gopi'
    jl='francis'
class student(staff):
    stu1="kumar"
    stu2="satish"
    pass

In [3]:
college1=staff()

In [8]:
college1.hod

'gopi'

In [9]:
college1.jl

'francis'

In [14]:
college2=student()

In [16]:
college2.stu1

'kumar'

In [17]:
college2.stu2

'satish'

In [21]:
##   in the below -we have taken data from parent class by using child class attribute

In [20]:
college2.hod

'gopi'

In [22]:
college2.jl

'francis'

In [48]:
print((f"college levels".upper()),college1.hod,">",college1.jl,">",college2.stu1,"=",college2.stu2)

COLLEGE LEVELS gopi > francis > kumar = satish

##### Example--2

In [49]:
class base:
    a=10
    b=20
    def display(self):
        print("base")
class derived:
    c=30
    d=40
    def display(self):
        print("derived")

In [51]:
ob=base()
print(ob.a,ob.b)
ob.display()

10 20
base

In [52]:
od=derived()
print(od.c,od.d)
od.display()

30 40
derived

###### Example--3

In [54]:
class parentclass:
    var1= 'i am var1'
    var2= 'i am var2'

In [55]:
class childclass(parentclass):
    pass

In [56]:
gg=parentclass()

In [57]:
jj=childclass()

In [58]:
gg.var1

'i am var1'

In [59]:
gg.var2

'i am var2'

In [60]:
jj.var1

'i am var1'

In [61]:
jj.var2

'i am var2'